<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache"/>

    <title>MYPERFECTLOOK</title>

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

    <script src="static/js/app.js"></script>

    <!-- Controllers -->
    <script src="static/js/controller/profile.ctrl.js"></script>
    <script src="static/js/controller/looks.ctrl.js"></script>
    <script src="static/js/controller/clothes.ctrl.js"></script>
    <script src="static/js/controller/feed.ctrl.js"></script>

    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/animation.css">
    <link rel="stylesheet" href="static/css/font.css">
</head>
<body ng-app="MainModule">

<div layout="column" layout-fill>
    <md-toolbar md-whiteframe="2"
                ng-controller="ConfigController">
        <div class="md-toolbar-tools">
            <md-button aria-label="Profile" class="md-icon-button"
                       ng-click="setLocation('profile')">
                <md-icon md-svg-icon="account"></md-icon>
            </md-button>

            <b flex>{{config.app_name}}</b>

            <md-button aria-label="My clothes" class="md-icon-button"
                       ng-click="setLocation('clothes')">
                <md-icon md-svg-icon="human-greeting"></md-icon>
            </md-button>

            <md-button aria-label="News Feed" class="md-icon-button"
                       ng-click="setLocation('feed')">
                <md-icon md-svg-icon="newspaper"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content flex="100">
        <ng-view flex layout="column"></ng-view>
    </md-content>
</div>

<md-button class="md-fab btn_fab" aria-label="Fab" ng-click="setLocation('looks')">
    <md-icon md-svg-icon="camera-iris"></md-icon>
</md-button>

</body>
</html>