.btn_fab {
    position: fixed;
    bottom: 24px;
    right: 8px;
}

ng-view {
    height: 100vh;
    padding: 8px;
}

.feed-item__card {
    background: white;
    margin-bottom: 16px;
}

.feed-item__header {
}

.feed-item__main-block {
    padding: 16px 24px 16px 24px;
}

.feed-item__cover {
    max-width: 100%;
    min-width: 100%;
}

.feed-item__title {
}

.feed-item__tools {
}

.feed-item__text {
}

.feed-item__like-counter {
    font-size: 10px;
}

.profile__block {
    background: white;
    padding: 16px 8px 16px 8px;
    margin-top: 16px;
}

.profile__block-title {
}

.profile__avatar {
    height: 80px;
    width: 80px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    border: 2px solid white;
}

.profile__wrapper-avatar {
    min-width: 100%;
    position: relative;
}

.profile__divider {
    height: 16px;
}

.look__block {
    background: white;
}

.look__cover {
    width: 100%;
    min-width: 100%;
}

.look__block-bottom {
    padding: 16px 8px 16px 8px;
}

.look__block-wrapper {
    padding: 4px;
}