<div layout="column">
    <div class="feed-item__card"
         ng-repeat="item in clothes"
         md-whiteframe="2">
        <div class="feed-item__header"
             layout="column">
            <md-toolbar style="background: transparent; color: black">
                <div class="md-toolbar-tools" flex
                     layout="column" layout-align="center center">
                    <span class="md-title">{{item.name}}</span>
                    <span class="md-subhead">{{item.category.name}}</span>
                </div>
            </md-toolbar>
            <md-divider flex></md-divider>
            <img src="{{item.cover}}" class="feed-item__cover" alt="Cover">
        </div>
    </div>
</div>