<div layout="column">
    <div class="feed-item__card"
         ng-repeat="item in feed"
         md-whiteframe="2">
        <div class="feed-item__header">
            <img src="{{item.cover}}" class="feed-item__cover" alt="Cover">
        </div>

        <div class="feed-item__main-block"
             layout="column">
            <span class="feed-item__title md-title"><b>{{item.title}}</b></span>
            <span class="feed-item__text md-subhead">{{item.text}}</span>
        </div>

        <md-divider flex></md-divider>

        <div layout="row"
             class="feed-item__tools"
             layout-align="center center">
            <md-button aria-label="Like" class="md-icon-button">
                <md-icon md-svg-icon="heart-outline"></md-icon>
            </md-button>

            <div flex></div>

            <md-button aria-label="Share" class="md-icon-button">
                <md-icon md-svg-icon="share"></md-icon>
            </md-button>

            <md-button aria-label="Save" class="md-icon-button">
                <md-icon md-svg-icon="download"></md-icon>
            </md-button>

            <md-button aria-label="Comment" class="md-primary">
                Comment
            </md-button>
        </div>
    </div>
</div>