<div ng-repeat="item in looks"
     class="look__block-wrapper">
    <div md-whiteframe="2"
         class="look__block">
        <div layout="row"
             layout-wrap>
            <div flex="50"
                 ng-repeat="item in item.clothes"
                 layout="column"
                 layout-align="center">
                <img class="look__cover"
                     src="{{item.cover}}" alt="Cover"/>
            </div>
        </div>

        <md-divider></md-divider>

        <div class="look__block-bottom"
             layout-align="center center"
             layout="row">
            <span class="md-title"><b>{{item.name}}</b></span>
        </div>
    </div>
</div>