<div class="profile__block"
     md-whiteframe="2">
    <div layout="row" layout-align="start center">
        <img src="{{profile.avatarUrl}}" class="profile__avatar" alt="Avatar">

        <div layout="column" style="margin-left: 16px">
            <span class="md-title">{{profile.fullName}} ({{profile.age}} y.o)</span>
            <span class="md-subhead">{{profile.occupation}}</span>
        </div>
    </div>
</div>

<div layout="column"
     md-whiteframe="2"
     class="profile__block">
    <span class="md-headline profile__block-title" style="margin-bottom: 8px;">INTERESTS</span>

    <span ng-repeat="item in profile.interests">- {{item}}</span>
</div>

<div layout="column"
     md-whiteframe="2"
     class="profile__block">
    <span class="md-headline profile__block-title" style="margin-bottom: 8px;">FAVOURITE CLOTHES</span>

    <div ng-repeat="item in profile.favouriteClothes">
        <span>- {{item.name}} ({{item.category.name}})</span>
    </div>
</div>

<div layout="column"
     md-whiteframe="2"
     class="profile__block">
    <span class="md-headline profile__block-title" style="margin-bottom: 8px;">FRIENDS</span>

    <div ng-repeat="item in profile.friends">
        <span>- {{item.fullName}} ({{item.age}} y.o)</span>
    </div>
</div>